.App {
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  /* height: 100vh; */
}

h1 {
  color: #262626;
}

.nav-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
li{
  list-style: none;
}